body {
  width: 1024px;
  margin: 0 auto 0 auto;
  background: lightgray;
}
header {
  padding: 1em;
  margin: 0;
  background: black;
  color: white;
}
header h1 {
  margin-left: 2em;
}
#header_logo {
  float: right;
  padding-right: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
}
#header_wechat {
  float: right;
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}
nav {
  background: DarkOrange;
  color: white;
  text-align: center;
  font-size: larger;
  border-left: 5px solid black;
  border-right: 5px solid black;
  padding: 5px;
}
nav span {
  padding: 2em;
}
main {
  margin: 0;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  text-align: center;
}
main img {
  height: 300px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding-bottom: 5px;
}
footer span {
  padding: 1em;
}
