body {
  width: 1024px;
  margin: 0 auto 0 auto;
  background: lightgray;
}
header {
  padding: 1em;
  margin: 0;
  background: black;
  color: white;
}
header h1 {
  margin-left: 4em;
}
nav {
  background: DarkOrange;
  color: white;
  text-align: center;
  font-size: larger;
  border-left: 5px solid black;
  border-right: 5px solid black;
  padding: 5px;
}
nav span {
  padding: 2em;
}
main {
  margin: 0;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  text-align: center;
}
main img {
  width: 200px;
  padding: 10px;
}

footer {
  background: black;
  color: white;
  text-align: center;
}
footer span {
  padding: 2em;
}
